<a href="https://colab.research.google.com/github/nromeron/AlgorithmsUN2021I/blob/main/nromeron_QuanconnectTutortials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Laboratrio 1 parte 1**

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
my_string1 = 'Primer ejercicio'
my_string2 = "del laboratorio 1"
print(my_string1 + ' ' + my_string2)

Primer ejercicio del laboratorio 1

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
my_int = 7
print(my_int)

print(type(my_int))

7
<class 'int'>

In [ ]:
my_string = "100"
print(type(my_string))

my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
my_string = "6507"
print(type(my_string))

my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
my_float = 1.0
print(type(my_float))

my_int = 1
print(type(my_int))

<class 'float'>
<class 'int'>

In [ ]:
my_float = 12.7
print(type(my_float))

my_int = 6
print(type(my_int))

<class 'float'>
<class 'int'>

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
my_string = "27"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
my_bool = False
print(my_bool)

print(type(my_bool))

False
<class 'bool'>

In [ ]:
my_bool = True
print(my_bool)

print(type(my_bool))

True
<class 'bool'>

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division", 10/2)
print("exponent", 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division 5.0
exponent 8

In [ ]:
print("Addition ", 3+7)
print("Subtraction ", 8-5)
print("Multiplication ", 8*3)
print("Division", 21/3)
print("exponent", 3**2)

Addition  10
Subtraction  3
Multiplication  24
Division 7.0
exponent 9

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
my_list = ['decimal', 'entero', 7,5,9.6]
print(my_list)

['decimal', 'entero', 7, 5, 9.6]

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) - 1])

5
Quant
3

In [ ]:
my_list = ['decimal', 'entero', 'ñ',7,5,9.6]
print(len(my_list))
print(my_list[1])
print(my_list[len(my_list) - 2])

6
entero
5

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[3] = 'Casa'
print(my_list)

['Quant', 'Connect', 1, 'Casa', 3]

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
my_list = ['decimal', 'entero', 'ñ',7,5,9.6]
print(my_list[1:5])

['entero', 'ñ', 7, 5]

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:])

['Connect', 1, 2, 3]

In [ ]:
my_list = ['decimal', 'entero', 'ñ',7,5,9.6]
print(my_list[2:])

['ñ', 7, 5, 9.6]

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
my_list = ['decimal', 'entero', 'ñ',7,5,9.6]
print(my_list[:4])

['decimal', 'entero', 'ñ', 7]

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

my_list.remove('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

In [ ]:
my_list = ['hola', 'salir']
my_list.append('hola')
print(my_list)

my_list.remove('hola')
print(my_list)

['hola', 'salir', 'hola']
['salir', 'hola']

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
my_tuple = ('Esto','no','se','cambia')
print(my_tuple[2:])

('se', 'cambia')

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'AAPL', 'GOOG', 'IBM', 'F'}

In [ ]:
stock_list = ['casa','carro','hoy','casa','hoy','FC','J','carro']
stock_set = set(stock_list)
print(stock_set)

{'FC', 'carro', 'hoy', 'casa', 'J'}

In [ ]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
print(my_dic['GOOG'])

Alphabet

In [ ]:
my_dic = {'KZA': 'casa', 'P': 'perro', '7': 'cristiano'}
print(my_dic['7'])

cristiano

In [ ]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [ ]:
my_dic = {'KZA': 'casa', 'P': 'perro', '7': 'cristiano'}
my_dic['7'] = 'CR7'
print(my_dic['7'])

CR7

In [ ]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [ ]:
my_dic = {'KZA': 'casa', 'P': 'perro', '7': 'cristiano'}
print(my_dic.keys())

dict_keys(['KZA', 'P', '7'])

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
my_str = 'Esto es un String largo'
print(my_str[6:])

s un String largo

In [ ]:
print("Counting the number of e's in this sentence".count('e'))

print('The first time e appears in this sentence'.find('e'))

print('all the a in this sentence now becomes e'.replace('a','e'))

6
2
ell the e in this sentence now becomes e

In [ ]:
print("contar la cantidad de aes que puse".count('a'))

print('Hay que encontar la primera o'.find('o'))

print('hay que ser inclusivos, presidenta'.replace('o','e'))

5
11
hay que ser inclusives, presidenta

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)

hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
fecha = '2021-12-01 06:12:05'
splited_list = fecha.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)

minuto = time.split(':')[1]
print(minuto)

2021-12-01 06:12:05
12

In [ ]:
my_time = 'Hour: {}, Minute: {}'.format(9, 43)
print(my_time)

Hour: 9, Minute: 43

In [ ]:
stats = 'Goles: {}, Asistencias: {}'.format(5, 23)
print(stats)

Goles: 5, Asistencias: 23

In [ ]:
print('pi is %f' % 3.14) 

print('%s to %s' % ('Welcome', 'QuantConnect'))

pi is 3.140000
Welcome to QuantConnect

In [ ]:
print('El numero de Euler es %f' % 2.718) 

print('%s es %s %d' % ('Hoy', 'martes', 12))

El numero de Euler es 2.718000
Hoy es martes 12

Parte **2**

In [ ]:
print (1 == 0)    # 1 equals 0
print(1 == 1)    # 1 equals 1
print (1 != 0)    # 1 is not equal to 0
print (5 >= 5)    # 5 is greater than or equal to 5
print (5 >= 6)    # 5 is greater than or equal to 6

False
True
True
True
False

In [ ]:
print (210 == 210)    
print(112 == 11)   
print (0 != 0)    
print (1 >= 45)    
print (15 >= 6)
print (23 <= 8)

True
False
False
False
True
False

In [ ]:
print (2 > 1 and 3 > 2)
print (2 > 1 and 3 < 2)
print (2 > 1 or  3 < 2)
print (2 < 1 and 3 < 2)

True
False
True
False

In [ ]:
print (5 > 6 and 1 >= 1)
print (21 < 26 or 3 == 2)
print (56 >= 1 or  7 < 12)
print (7 < 19 and 31 <= 5)

False
True
True
False

In [ ]:
print ((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print (3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [ ]:
print ((56 >= 4 or 8 < 3) or (1!=3 and 58>3) and not ( 33 < 22 or 11 < 3 or (10!=45 and 4>=0)))
print (31 > 2 or 9 <= 3 and (95!=36 and 4>35) or not ( 21 < 74 or 26 < 3 and (3!=3 or 74>3)))

True
True

In [ ]:
i = 0
if i == 0: print ('i == 0 is True')

i == 0 is True

In [ ]:
i = 12
if i != 0: print ('i == 0 is  NOT True')

i == 0 is  NOT True

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

q is false

In [ ]:
p = -1 >= 0
q = 2 >= 3
if p or q:
    print ('p or q is true')
elif p and not q:
    print ('q is false')
elif q or not p:
    print ('p is false')
else:
    print ('None of p and q is true')

p is false

In [ ]:
i = 0
while i < 5:
    print (i)
    i += 1

0
1
2
3
4

In [ ]:
i = 12
while i > 3:
    print (i)
    i -= 1

12
11
10
9
8
7
6
5
4

In [ ]:
for x in [1,2,3,4,5]: print (x)

1
2
3
4
5

In [ ]:
for x in [10,25,30,40,55]: print (x+3)

13
28
33
43
58

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
num = [1,1,1,15,18,29,18,81,51,5,8,1,5,5,5,2,7,151,1,81]
noSeleccionar = [5,1,7]
new_list = []
for i in num:
    if i not in noSeleccionar:
        new_list.append(i)
print (new_list)

[15, 18, 29, 18, 81, 51, 8, 2, 151, 81]

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print (stock)
    if stock == 'FB': break

AAPL
GOOG
IBM
FB

In [ ]:
num = [168,186,53,16,52,176,655,15,64,1,4,4,8,5,4,648,1]
for i in num:
    print (i)
    if i == 15: break

168
186
53
16
52
176
655
15

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'FB': continue
    print (stock)

AAPL
GOOG
IBM
F
V
G
GE

In [ ]:
num = [168,186,15,16,52,176,655,15,64,1,41]
for i in num:
    if i == 15: continue
    print (i)

168
186
16
52
176
655
64
1
41

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print (squares)

[1, 4, 9, 16, 25]

In [ ]:
cubic= []
for i in [1,2,3,4,5]:
    cubic.append(i**3)
print (cubic)

[1, 8, 27, 64, 125]

In [ ]:
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
print (squares)

[1, 4, 9, 16, 25]

In [ ]:
num = [0,2,4,6,8]
cubic = [x**3 for x in num]
print (cubic)

[0, 8, 64, 216, 512]

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
objeto = ['casa','carro','IBM','silla','mouse','sabana', 'garaje', 'cepillo']
noNecesario = ['carro','garaje','IBM']
new_list = [x for x in objeto if x not in noNecesario]
print (new_list)

['casa', 'silla', 'mouse', 'sabana', 'cepillo']

In [ ]:
print ([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB']
                                for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [ ]:
print ([(x, y) for x in [7,2,3,9,5,45,8,2,6] for y in [3,1,4,1,1,8,3,9,48,281,5] if x <= y])
print ([str(x) + ' vs ' + str(y) for x in ['COL','BRA','VEN','URU']
                                for y in ['ARG','BRA','COL','PER'] if x != y])

[(7, 8), (7, 9), (7, 48), (7, 281), (2, 3), (2, 4), (2, 8), (2, 3), (2, 9), (2, 48), (2, 281), (2, 5), (3, 3), (3, 4), (3, 8), (3, 3), (3, 9), (3, 48), (3, 281), (3, 5), (9, 9), (9, 48), (9, 281), (5, 8), (5, 9), (5, 48), (5, 281), (5, 5), (45, 48), (45, 281), (8, 8), (8, 9), (8, 48), (8, 281), (2, 3), (2, 4), (2, 8), (2, 3), (2, 9), (2, 48), (2, 281), (2, 5), (6, 8), (6, 9), (6, 48), (6, 281)]
['COL vs ARG', 'COL vs BRA', 'COL vs PER', 'BRA vs ARG', 'BRA vs COL', 'BRA vs PER', 'VEN vs ARG', 'VEN vs BRA', 'VEN vs COL', 'VEN vs PER', 'URU vs ARG', 'URU vs BRA', 'URU vs COL', 'URU vs PER']

**Parte 3**

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [ ]:
def op(x,y):
    return (x*y)/(x+y)
print(op(12,3))
print(op(51,10))

2.4
8.360655737704919

In [ ]:
def say_hi():
    print ("Welcome to QuantConnect")
say_hi()

Welcome to QuantConnect

In [ ]:
def Colabore():
    print ("Si lees esto ponme 5 porfa :3")
Colabore()

Si lees esto ponme 5 porfa :3

In [ ]:
rango = range(10)
x1 = [x for x in rango]
print(x1)

rango2 = range(1, 11)
x2 = [x for x in rango2]
print(x2)

rango3 = range(1, 11, 2)
x3 = [x for x in rango3]
print(x3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [ ]:
rango = range(5)
x1 = [x for x in rango]
print(x1)

rango2 = range(0,25,3)
x2 = [x for x in rango2]
print(x2)

rango3 = range(5, 110, 25)
x3 = [x for x in rango3]
print(x3)

[0, 1, 2, 3, 4]
[0, 3, 6, 9, 12, 15, 18, 21, 24]
[5, 30, 55, 80, 105]

In [ ]:
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

In [ ]:
pais = ['USA', 'GER', 'FRA', 'JPN', 'ITL', 'CND', 'ESP', 'KRN', 'MXN', 'ENG']
print ("El numero de paises es {}".format(len(pais)))
for k in range(len(pais)):
    print (k + 1, pais[k])

El numero de paises es 10
1 USA
2 GER
3 FRA
4 JPN
5 ITL
6 CND
7 ESP
8 KRN
9 MXN
10 ENG

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
lista = ['casa',74,65.2,'FB',False,2.37, True, 6]
print(list(map(type,lista)))

[<class 'str'>, <class 'int'>, <class 'float'>, <class 'str'>, <class 'bool'>, <class 'float'>, <class 'bool'>, <class 'int'>]

In [ ]:
print(list(map(lambda x: x**2, range(10))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
print(list(map(lambda x: (x**3)/2, range(15))))

[0.0, 0.5, 4.0, 13.5, 32.0, 62.5, 108.0, 171.5, 256.0, 364.5, 500.0, 665.5, 864.0, 1098.5, 1372.0]

In [ ]:
print(list(map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1])))

[6, 6, 6, 6, 6]

In [ ]:
print(list(map(lambda x, y, z, w: x*y/z+w, [0,1,2,3,4],[5,6,7,8,9],[9,8,7,6,5],[4,3,2,1,0])))

[4.0, 3.75, 4.0, 5.0, 7.2]

In [ ]:
print(list(sorted([5,2,3,4,1])))

[1, 2, 3, 4, 5]

In [ ]:
print(list(sorted([1,171,35,42,31,8,63,4.68,62,28,52.6,861,21,81,7])))

[1, 4.68, 7, 8, 21, 28, 31, 35, 42, 52.6, 62, 63, 81, 171, 861]

In [ ]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

In [ ]:
price_list = [('Casa', 750.12), ('carro', 85.89), ('moto', 14), ('apto', 350), ('lancha', 63.12)]
sorted(price_list, key = lambda x: x[1],)

[('moto', 14),
 ('lancha', 63.12),
 ('carro', 85.89),
 ('apto', 350),
 ('Casa', 750.12)]

In [ ]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('GOOGL', 911.71),
 ('FB', 150),
 ('AAPL', 144.09),
 ('WMT', 75.32),
 ('MSFT', 69)]

In [ ]:
price_list = [('Casa', 750.12), ('carro', 85.89), ('moto', 14), ('apto', 350), ('lancha', 63.12)]
sorted(price_list, key = lambda x: x[1], reverse =True)

[('Casa', 750.12),
 ('apto', 350),
 ('carro', 85.89),
 ('lancha', 63.12),
 ('moto', 14)]

In [ ]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list.sort(key = lambda x: x[1])
print (price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

In [ ]:
price_list = [('Casa', 750.12), ('carro', 85.89), ('moto', 14), ('apto', 350), ('lancha', 63.12)]
price_list.sort(key = lambda x: x[1])
print (price_list)

[('moto', 14), ('lancha', 63.12), ('carro', 85.89), ('apto', 350), ('Casa', 750.12)]

In [ ]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print (self.rate_return)

In [ ]:
class pelicula:
    def __init__(self, nombre, año, duracion, recaudacion, genero, director):
        self.nombre = nombre
        self.año = año
        self.duracion = duracion
        self.recaudacion = recaudacion
        self.genero = genero
        self.director = director

    def update(self, recaudacion, dias):
        self.recaudacion = recaudacion * dias / 1.5


    def print_return(self):
        print (self.nombre)
        print (self.año)
        print (self.duracion)
        print (self.recaudacion)
        print (self.genero)
        print (self.director)

In [ ]:
apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

In [ ]:
peliculaX = pelicula('Miradas', 2003, 145, 663.25, 'drama', 'J.H. Graves')
peliculaY = pelicula('Tiburon' , 2014, 187, 782.5, 'accion', 'mike T. proder')

In [ ]:
print(apple.ticker)
google.print_return()
google.update(912.8,913.4)
google.print_return()

AAPL
0.014465338822744034
0.0006573181419806673

In [ ]:
peliculaX.print_return()
print('\n')
peliculaX.update(51.7, 30)
peliculaX.print_return()

Miradas
2003
145
1034.0
drama
J.H. Graves


Miradas
2003
145
1034.0
drama
J.H. Graves

In [ ]:
apple.ceo = 'Tim Cook'
print(apple.ceo)

Tim Cook

In [ ]:
peliculaX.director = 'Tomas bersk'
print(peliculaX.director)

Tomas bersk

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [ ]:
dir(peliculaX)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'año',
 'director',
 'duracion',
 'genero',
 'nombre',
 'print_return',
 'recaudacion',
 'update']

In [ ]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

In [ ]:
class Child(pelicula):
    def __init__(self, calificacion):
        self.calificacion = calificacion

In [ ]:
aa = Child('AA')
print (aa.name)

aa.update(100, 102)
print (aa.open)

print (aa.close)

print (aa.print_return())

AA
100
102
0.020000000000000018
None

In [ ]:
peliculaX1 = Child('8.25/10')

print (peliculaX1.calificacion)

peliculaX1.update(28.6, 102)
print(peliculaX1.recaudacion)

8.25/10
1944.8000000000002

**Parte 4**

In [ ]:
import numpy as np

price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print (price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [ ]:
price_list1 = [62.81, 1.3, 18.8, 59.72, 3.5, 49.2]
price_array1 = np.array(price_list1)
print (price_array1, type(price_array1))

[62.81  1.3  18.8  59.72  3.5  49.2 ] <class 'numpy.ndarray'>

In [ ]:
Ar = np.array([[1,3], [2,4]])
print(Ar, type(Ar)) 
print (Ar.shape)

[[1 3]
 [2 4]] <class 'numpy.ndarray'>
(2, 2)

In [ ]:
Ar1 = np.array([[7,5], [4,8],[8,6]])
print(Ar1, type(Ar1)) 
print (Ar1.shape)

[[7 5]
 [4 8]
 [8 6]] <class 'numpy.ndarray'>
(3, 2)

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [ ]:
print(Ar1[0])
print(Ar1[1])
print(Ar1[2])

[7 5]
[4 8]
[8 6]

In [ ]:
print ('First column:', Ar[:,0])
print ('Second column:', Ar[:,1])

First column: [1 2]
Second column: [3 4]

In [ ]:
print ('First column:', Ar1[:,0])
print ('Second column:', Ar1[:,1])

First column: [7 4 8]
Second column: [5 8 6]

In [ ]:
np.log(price_array)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

In [ ]:
np.log(price_array1)

array([4.1401143 , 0.26236426, 2.93385687, 4.08966697, 1.25276297,
       3.89589362])

In [ ]:
print (np.mean(price_array))

print (np.std(price_array))

print (np.sum(price_array))

print (np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [ ]:
print (np.mean(price_array1))

print (np.std(price_array1))

print (np.sum(price_array1))

print (np.max(price_array1))

32.555
25.627544914277944
195.32999999999998
62.81

In [ ]:
import pandas as pd

price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print (s)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [ ]:
price1 = [369.268, 114.63, 523.52, 181.68, 37.14, 652.14]
s1 = pd.Series(price1)
print (s1)

0    369.268
1    114.630
2    523.520
3    181.680
4     37.140
5    652.140
dtype: float64

In [ ]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print (s)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [ ]:
s1 = pd.Series(price1, index = ['u', 'v', 'w', 'x', 'y', 'z'])
print (s1)

u    369.268
v    114.630
w    523.520
x    181.680
y     37.140
z    652.140
dtype: float64

In [ ]:
s.index = [6,5,4,3,2,1]
print (s)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
s1.index = [16,15,14,13,12,11]
print (s1)

16    369.268
15    114.630
14    523.520
13    181.680
12     37.140
11    652.140
dtype: float64

In [ ]:
print (s[1:])
print (s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [ ]:
print (s1[2:])
print (s1[1:-2])

14    523.52
13    181.68
12     37.14
11    652.14
dtype: float64
15    114.63
14    523.52
13    181.68
dtype: float64

In [ ]:
print (s[4])
s[4] = 0
print (s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
print (s1[15])
s1[15] = 73
print (s1)

114.63
16    369.268
15     73.000
14    523.520
13    181.680
12     37.140
11    652.140
dtype: float64

In [ ]:
s = pd.Series(price, name = 'Apple Prices')
print (s)
print (s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

In [ ]:
s1 = pd.Series(price1, name = 'Precios de apartamentos')
print (s1)
print (s1.name)

0    369.268
1    114.630
2    523.520
3    181.680
4     37.140
5    652.140
Name: Precios de apartamentos, dtype: float64
Precios de apartamentos

In [ ]:
print (s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

In [ ]:
print (s1.describe())

count      6.000000
mean     313.063000
std      242.979428
min       37.140000
25%      131.392500
50%      275.474000
75%      484.957000
max      652.140000
Name: Precios de apartamentos, dtype: float64

In [ ]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print (time_index)
s.index = time_index
print (s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

In [ ]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print (time_index)
s1.index = time_index
print (s1)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    369.268
2017-01-02    114.630
2017-01-03    523.520
2017-01-04    181.680
2017-01-05     37.140
2017-01-06    652.140
Freq: D, Name: Precios de apartamentos, dtype: float64

In [ ]:
s.index = [6,5,4,3,2,1]
print (s)
print (s[1])
print (s.iloc[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62
145.83

In [ ]:
s1.index = [6,5,4,3,2,1]
print (s1)
print (s1[1])
print (s1.iloc[1])

6    369.268
5    114.630
4    523.520
3    181.680
2     37.140
1    652.140
Name: Precios de apartamentos, dtype: float64
652.14
114.63

In [ ]:
s.index = time_index
print (s['2017-01-03'])

143.68

In [ ]:
s1.index = time_index
print (s1['2017-01-04'])

181.68

In [ ]:
print (s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

In [ ]:
print (s1['2017-01-03':'2017-01-06'])

2017-01-03    523.52
2017-01-04    181.68
2017-01-05     37.14
2017-01-06    652.14
Freq: D, Name: Precios de apartamentos, dtype: float64

In [ ]:
print (s[s < np.mean(s)])
print (s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Prices, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Prices, dtype: float64

In [ ]:
print (s1[s1 > np.mean(s1)])
print (s1[(s1 < np.mean(s1)) & (s1 < np.mean(s1) + 1.27*np.std(s1))])

2017-01-01    369.268
2017-01-03    523.520
2017-01-06    652.140
Name: Precios de apartamentos, dtype: float64
2017-01-02    114.63
2017-01-04    181.68
2017-01-05     37.14
Name: Precios de apartamentos, dtype: float64

**Parte 5**

In [ ]:
 !pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 4.2 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=9e31f6e7d7eefd3dd0a77fd53904882e77ea221ceacf94a043c31d05d12813fa
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [ ]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 169.64, 'currentPrice': 143.76, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 42, 'targetMeanPrice': 167.92, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.951, 'beta3Year': None, 'enterpriseToEbitda': 21.751, '52WeekChange': 0.16734326, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.5869, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.25276315, 'priceToBook': 37.032455, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2412978896896, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 6.845304, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 25.309858, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 140.91, 'regularMarketOpen': 142.11, 'twoHundredDayAverage': 138.30841, 'trailingAnnualDividendYield': 0.005925768, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 143.88, 'navPrice': None, 'averageDailyVolume10Day': 74878250, 'regularMarketPreviousClose': 140.91, 'fiftyDayAverage': 146.86285, 'trailingAnnualDividendRate': 0.835, 'open': 142.11, 'toCurrency': None, 'averageVolume10days': 74878250, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 141.51, 'currency': 'USD', 'trailingPE': 28.144087, 'regularMarketVolume': 69907100, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2376381497344, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 79135801, 'dayLow': 141.51, 'ask': 143.85, 'askSize': 1200, 'volume': 69907100, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 143.93, 'tradeable': False, 'dividendYield': 0.0062, 'bidSize': 1300, 'dayHigh': 143.88, 'regularMarketPrice': 143.76, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655163  24.291439  23.514536  ...  270597600        0.0             0
2016-01-05  24.379045  24.402098  23.609059  ...  223164000        0.0             0
2016-01-06  23.182569  23.599838  23.023501  ...  273829600        0.0             0
2016-01-07  22.749164  23.083439  22.230461  ...  324377600        0.0             0
2016-01-08  22.719199  22.848298  22.306542  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827760  42.004957  41.784660  ...   65397600        0.0             0
2017-12-26  40.898678  41.059112  40.630488  ...  132742000        0.0             0
2017-12-27  40.731054  40.893880  40.637667  ...   85992800        0.0             0
2017-12-28  40.946568  41.150105  40.822051  ...   65920800        0.0             0
2017-12-29  40.831633  40.848393  40.520342  ...  103999600        0.0             0

[503 rows x 7 columns]

In [ ]:
aapl = aapl_table['Close']['2017']
print(aapl)

Date
2017-01-03    27.372360
2017-01-04    27.341726
2017-01-05    27.480766
2017-01-06    27.787132
2017-01-09    28.041649
                ...
2017-12-22    41.906780
2017-12-26    40.843605
2017-12-27    40.850780
2017-12-28    40.965725
2017-12-29    40.522736
Name: Close, Length: 251, dtype: float64

In [ ]:
aapl1 = aapl_table['Close']['2016']
print(aapl1)

Date
2016-01-04    24.286827
2016-01-05    23.678219
2016-01-06    23.214844
2016-01-07    22.235071
2016-01-08    22.352648
                ...
2016-12-23    27.459558
2016-12-27    27.633951
2016-12-28    27.516115
2016-12-29    27.509047
2016-12-30    27.294592
Name: Close, Length: 252, dtype: float64

In [ ]:
print(aapl['2017-3'])

Date
2017-03-01    33.086285
2017-03-02    32.889832
2017-03-03    33.083912
2017-03-06    32.979774
2017-03-07    33.022377
2017-03-08    32.899300
2017-03-09    32.823566
2017-03-10    32.932442
2017-03-13    32.946640
2017-03-14    32.896935
2017-03-15    33.244869
2017-03-16    33.299305
2017-03-17    33.133621
2017-03-20    33.481548
2017-03-21    33.098118
2017-03-22    33.472084
2017-03-23    33.353741
2017-03-24    33.287472
2017-03-27    33.344280
2017-03-28    34.035389
2017-03-29    34.111130
2017-03-30    34.066162
2017-03-31    34.002270
Name: Close, dtype: float64

In [ ]:
print(aapl1['2016-4'])

Date
2016-04-01    25.494099
2016-04-04    25.756018
2016-04-05    25.452381
2016-04-06    25.718935
2016-04-07    25.158012
2016-04-08    25.185829
2016-04-11    25.269272
2016-04-12    25.598410
2016-04-13    25.969261
2016-04-14    25.983170
2016-04-15    25.461649
2016-04-18    24.912319
2016-04-19    24.780207
2016-04-20    24.831194
2016-04-21    24.562326
2016-04-22    24.495104
2016-04-25    24.356031
2016-04-26    24.186829
2016-04-27    22.673275
2016-04-28    21.980232
2016-04-29    21.727589
Name: Close, dtype: float64

In [ ]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289881
2017-02-03    30.419500
2017-02-06    30.704651
2017-02-07    30.996864
                ...
2017-04-24    33.997520
2017-04-25    34.208172
2017-04-26    34.006992
2017-04-27    34.033016
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

In [ ]:
aapl1['2016-3':'2016-7']

Date
2016-03-01    23.301407
2016-03-02    23.352404
2016-03-03    23.526243
2016-03-04    23.876238
2016-03-07    23.612003
                ...
2016-07-25    22.699383
2016-07-26    22.543139
2016-07-27    24.007614
2016-07-28    24.331758
2016-07-29    24.301445
Name: Close, Length: 106, dtype: float64

In [ ]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372360
2017-01-04    27.341726
2017-01-05    27.480766
2017-01-06    27.787132
2017-01-09    28.041649
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244408
2017-12-19    41.794231
2017-12-20    41.748734
2017-12-21    41.906780
2017-12-22    41.906780
2017-12-26    40.843605
2017-12-27    40.850780
2017-12-28    40.965725
2017-12-29    40.522736
Name: Close, dtype: float64

In [ ]:
print(aapl1.head(4))
print(aapl1.tail(8))

Date
2016-01-04    24.286827
2016-01-05    23.678219
2016-01-06    23.214844
2016-01-07    22.235071
Name: Close, dtype: float64
Date
2016-12-20    27.560894
2016-12-21    27.586815
2016-12-22    27.405352
2016-12-23    27.459558
2016-12-27    27.633951
2016-12-28    27.516115
2016-12-29    27.509047
2016-12-30    27.294592
Name: Close, dtype: float64

In [ ]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178331
2017-02-28    31.606276
2017-03-31    33.282220
2017-04-30    33.819264
2017-05-31    36.125684
2017-06-30    35.133984
2017-07-31    35.245241
2017-08-31    37.897228
2017-09-30    37.604738
2017-10-31    37.654550
2017-11-30    41.233916
2017-12-31    41.160039
Freq: M, Name: Close, dtype: float64

In [ ]:
by_month1 = aapl1.resample('M').mean()
print(by_month1)

Date
2016-01-31    22.691287
2016-02-29    22.174696
2016-03-31    24.167656
2016-04-30    24.740578
2016-05-31    22.128797
2016-06-30    22.532010
2016-07-31    22.983065
2016-08-31    25.225826
2016-09-30    25.991581
2016-10-31    27.128711
2016-11-30    25.946601
2016-12-31    26.944800
Freq: M, Name: Close, dtype: float64

In [ ]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495496
2017-01-15    28.097736
2017-01-22    28.266115
2017-01-29    28.553979
2017-02-05    29.662542
Freq: W-SUN, Name: Close, dtype: float64

In [ ]:
by_week1 = aapl1.resample('W').mean()
print(by_week1.head())

Date
2016-01-10    23.153522
2016-01-17    22.709050
2016-01-24    22.544564
2016-01-31    22.328668
2016-02-07    22.081274
Freq: W-SUN, Name: Close, dtype: float64

In [ ]:
aapl.resample('M').max()

Date
2017-01-31    28.739212
2017-02-28    32.451969
2017-03-31    34.111130
2017-04-30    34.264980
2017-05-31    37.099129
2017-06-30    36.944645
2017-07-31    36.471699
2017-08-31    39.129726
2017-09-30    39.141655
2017-10-31    40.332249
2017-11-30    42.050140
2017-12-31    42.244408
Freq: M, Name: Close, dtype: float64

In [ ]:
aapl1.resample('M').max()

Date
2016-01-31    24.286827
2016-02-29    22.742807
2016-03-31    25.394432
2016-04-30    25.983170
2016-05-31    23.415297
2016-06-30    23.238064
2016-07-31    24.331758
2016-08-31    25.668694
2016-09-30    27.096560
2016-10-31    27.724911
2016-11-30    26.347223
2016-12-31    27.633951
Freq: M, Name: Close, dtype: float64

In [ ]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398284
2017-01-06    27.787132
2017-01-09    28.110774
2017-01-12    28.078178
2017-01-15    28.279667
                ...
2017-12-17    42.019320
2017-12-20    41.854098
2017-12-23          NaN
2017-12-26    40.886703
2017-12-29    40.522736
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495496
2017-01-22    28.172571
2017-02-05    29.108261
2017-02-19    31.516817
2017-03-05    32.595556
2017-03-19    33.017883
2017-04-02    33.625219
2017-04-16    33.849731
2017-04-30    33.791845
2017-05-14    35.697631
2017-05-28    36.496178
2017-06-11    36.515006
2017-06-25    34.529047
2017-07-09    34.265135
2017-07-23    35.278871
2017-08-06    36.272775
2017-08-20    37.904119
2017-09-03    38.458791
2017-09-17    38.282708
2017-10-01    36.840873
2017-10-15    37.071595
2017-10-29    37.757319
2017-11-12    41.032240
2017-11-26    41.204378
2017-12-10    40.867064
2017-12-24    41.620869
2018-01-07    40.795712
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178331
2017-03-31    32.524055
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761186
2017-11-30    39.402613
2018-01-31    41.160039
Freq: 2M, Name: Close, dtype: float64

In [ ]:
seisDias = aapl1.resample('6D').mean()
cincoSemanas = aapl1.resample('5W').mean()
cuatroMeses = aapl1.resample('4M').mean()


print(seisDias)
print(cincoSemanas)
print(cuatroMeses)

Date
2016-01-04    23.153522
2016-01-10    22.709050
2016-01-16    22.265809
2016-01-22    22.723229
2016-01-28    22.035657
                ...
2016-12-05    26.213366
2016-12-11    27.123502
2016-12-17    27.510225
2016-12-23    27.536542
2016-12-29    27.401819
Freq: 6D, Name: Close, Length: 61, dtype: float64
Date
2016-01-10    23.153522
2016-02-14    22.298616
2016-03-20    23.208695
2016-04-24    25.125080
2016-05-29    22.253666
2016-07-03    22.556354
2016-08-07    23.378623
2016-09-11    25.261124
2016-10-16    26.631388
2016-11-20    26.436750
2016-12-25    26.655354
2017-01-29    27.488426
Freq: 5W-SUN, Name: Close, dtype: float64
Date
2016-01-31    22.691287
2016-05-31    23.326657
2016-09-30    24.202124
2017-01-31    26.673371
Freq: 4M, Name: Close, dtype: float64

In [ ]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072527
2017-01-22    0.025552
2017-01-29    0.245287
2017-02-05    0.943264
2017-02-12    0.252002
2017-02-19    0.231394
2017-02-26    0.059347
2017-03-05    0.340088
2017-03-12    0.076283
2017-03-19    0.177837
2017-03-26    0.157263
2017-04-02    0.319804
2017-04-09    0.128685
2017-04-16    0.212471
2017-04-23    0.174671
2017-04-30    0.090025
2017-05-07    0.235641
2017-05-14    0.352978
2017-05-21    0.536095
2017-05-28    0.060394
2017-06-04    0.281222
2017-06-11    0.620034
2017-06-18    0.382564
2017-06-25    0.128891
2017-07-02    0.264111
2017-07-09    0.158891
2017-07-16    0.404279
2017-07-23    0.124989
2017-07-30    0.384439
2017-08-06    0.924391
2017-08-13    0.467472
2017-08-20    0.435249
2017-08-27    0.275767
2017-09-03    0.251723
2017-09-10    0.381639
2017-09-17    0.294138
2017-09-24    0.735195
2017-10-01    0.354843
2017-10-08    0.204856
2017-10-15    0.118729
2017-10-22    0.516998
2017-10-29    0.680459
2017-11-05    0.560684
2017-11-12    0.190972
2017-11-19    0.436199
2017-11-26    0.563049
2017-12-03    0.427447
2017-12-10    0.073129
2017-12-17    0.205266
2017-12-24    0.194126
2017-12-31    0.190392
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220747
2017-01-22    28.279667
2017-01-29    28.739212
2017-02-05    30.419500
2017-02-12    31.341919
2017-02-19    32.122978
2017-02-26    32.451969
2017-03-05    33.086285
2017-03-12    33.022377
2017-03-19    33.299305
2017-03-26    33.481548
2017-04-02    34.111130
2017-04-09    34.264980
2017-04-16    33.886276
2017-04-23    33.713505
2017-04-30    34.208172
2017-05-07    35.256699
2017-05-14    37.099129
2017-05-21    37.004066
2017-05-28    36.597660
2017-06-04    36.944645
2017-06-11    36.925636
2017-06-18    34.838955
2017-06-25    34.779541
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421223
2017-07-23    35.891804
2017-07-30    36.471699
2017-08-06    37.346302
2017-08-13    38.277935
2017-08-20    38.557095
2017-08-27    38.170563
2017-09-03    39.141655
2017-09-10    38.671616
2017-09-17    38.533230
2017-09-24    37.872326
2017-10-01    36.798637
2017-10-08    37.075417
2017-10-15    37.457165
2017-10-22    38.287483
2017-10-29    38.903065
2017-11-05    41.157791
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897202
2017-12-03    41.686474
2017-12-10    40.659218
2017-12-17    41.657745
2017-12-24    42.244408
2017-12-31    40.965725
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341726
2017-01-15    28.041649
2017-01-22    28.227823
2017-01-29    28.272594
2017-02-05    28.597809
2017-02-12    30.704651
2017-02-19    31.547825
2017-02-26    32.314686
2017-03-05    32.409367
2017-03-12    32.823566
2017-03-19    32.896935
2017-03-26    33.098118
2017-04-02    33.344280
2017-04-09    33.926529
2017-04-16    33.384514
2017-04-23    33.296940
2017-04-30    33.997520
2017-05-07    34.681545
2017-05-14    36.215271
2017-05-21    35.708805
2017-05-28    36.443176
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812256
2017-06-25    34.463455
2017-07-02    34.147362
2017-07-09    33.921577
2017-07-16    34.475334
2017-07-23    35.544815
2017-07-30    35.530560
2017-08-06    35.347553
2017-08-13    37.058704
2017-08-20    37.578854
2017-08-27    37.509655
2017-09-03    38.526081
2017-09-10    37.848465
2017-09-17    37.764954
2017-09-24    36.240322
2017-10-01    35.920612
2017-10-08    36.619694
2017-10-15    37.182785
2017-10-22    37.216175
2017-10-29    37.261505
2017-11-05    39.778709
2017-11-12    41.575329
2017-11-19    40.486816
2017-11-26    40.702316
2017-12-03    40.582588
2017-12-10    40.470051
2017-12-17    41.114182
2017-12-24    41.748734
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

In [ ]:
std1 = aapl1.resample('3M').std()
max1 = aapl1.resample('3M').max()
min1 = aapl1.resample('3M').min()


print(std1)
print(max1)
print(min1)

Date
2016-01-31    0.669095
2016-04-30    1.356040
2016-07-31    0.698772
2016-10-31    0.982867
2017-01-31    0.742539
Freq: 3M, Name: Close, dtype: float64
Date
2016-01-31    24.286827
2016-04-30    25.983170
2016-07-31    24.331758
2016-10-31    27.724911
2017-01-31    27.633951
Freq: 3M, Name: Close, dtype: float64
Date
2016-01-31    21.536552
2016-04-30    21.718315
2016-07-31    21.067001
2016-10-31    24.179869
2017-01-31    24.912035
Freq: 3M, Name: Close, dtype: float64

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597809
2017-02-28    32.423569
2017-03-31    34.002270
2017-04-30    33.999889
2017-05-31    36.305332
2017-06-30    34.228176
2017-07-31    35.347553
2017-08-31    39.129726
2017-09-30    36.772396
2017-10-31    40.332249
2017-11-30    41.150105
2017-12-31    40.522736
Freq: M, Name: Close, dtype: float64

In [ ]:
day1 = aapl1.resample('M').agg(lambda x: x[-1])
print(day1)

Date
2016-01-31    22.440248
2016-02-29    22.411350
2016-03-31    25.262312
2016-04-30    21.727589
2016-05-31    23.287041
2016-06-30    22.293617
2016-07-31    24.301445
2016-08-31    24.876217
2016-09-30    26.505718
2016-10-31    26.620605
2016-11-30    26.045574
2016-12-31    27.294592
Freq: M, Name: Close, dtype: float64

In [ ]:
twoMonths_return = aapl1.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(twoMonths_return)

Date
2016-01-31   -0.076032
2016-02-29    0.008137
2016-03-31    0.084154
2016-04-30   -0.147740
2016-05-31    0.072918
2016-06-30   -0.029047
2016-07-31    0.086766
2016-08-31    0.005891
2016-09-30    0.059215
2016-10-31    0.009065
2016-11-30   -0.003611
2016-12-31    0.057814
Freq: M, Name: Close, dtype: float64

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863392524858726
0.05225849377385851
0.09901851007954865

In [ ]:
print(twoMonths_return.mean())
print(twoMonths_return.std())
print(twoMonths_return.max())

0.010627423241531384
0.0701094988258885
0.0867662276824479

In [ ]:

print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825760
2017-03-31    1.578701
2017-04-30   -0.002380
2017-05-31    2.305443
2017-06-30   -2.077156
2017-07-31    1.119377
2017-08-31    3.782173
2017-09-30   -2.357330
2017-10-31    3.559853
2017-11-30    0.817856
2017-12-31   -0.627369
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
print(day1.diff())
print(day1.pct_change())

Date
2016-01-31         NaN
2016-02-29   -0.028898
2016-03-31    2.850962
2016-04-30   -3.534723
2016-05-31    1.559452
2016-06-30   -0.993423
2016-07-31    2.007828
2016-08-31    0.574772
2016-09-30    1.629501
2016-10-31    0.114887
2016-11-30   -0.575031
2016-12-31    1.249018
Freq: M, Name: Close, dtype: float64
Date
2016-01-31         NaN
2016-02-29   -0.001288
2016-03-31    0.127211
2016-04-30   -0.139921
2016-05-31    0.071773
2016-06-30   -0.042660
2016-07-31    0.090063
2016-08-31    0.023652
2016-09-30    0.065504
2016-10-31    0.004334
2016-11-30   -0.021601
2016-12-31    0.047955
Freq: M, Name: Close, dtype: float64

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
daily_return1 = day1.pct_change()
print(daily_return1.fillna(0))

Date
2016-01-31    0.000000
2016-02-29   -0.001288
2016-03-31    0.127211
2016-04-30   -0.139921
2016-05-31    0.071773
2016-06-30   -0.042660
2016-07-31    0.090063
2016-08-31    0.023652
2016-09-30    0.065504
2016-10-31    0.004334
2016-11-30   -0.021601
2016-12-31    0.047955
Freq: M, Name: Close, dtype: float64

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
daily_return1 = day1.pct_change()
print(daily_return1.fillna(method = 'bfill'))

Date
2016-01-31   -0.001288
2016-02-29   -0.001288
2016-03-31    0.127211
2016-04-30   -0.139921
2016-05-31    0.071773
2016-06-30   -0.042660
2016-07-31    0.090063
2016-08-31    0.023652
2016-09-30    0.065504
2016-10-31    0.004334
2016-11-30   -0.021601
2016-12-31    0.047955
Freq: M, Name: Close, dtype: float64

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
daily_return1 = day1.pct_change()
daily_return1.dropna()

Date
2016-02-29   -0.001288
2016-03-31    0.127211
2016-04-30   -0.139921
2016-05-31    0.071773
2016-06-30   -0.042660
2016-07-31    0.090063
2016-08-31    0.023652
2016-09-30    0.065504
2016-10-31    0.004334
2016-11-30   -0.021601
2016-12-31    0.047955
Freq: M, Name: Close, dtype: float64

In [ ]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [ ]:
import pandas as pd1
dict1 = {'coca': [237.3, 564.1, 315.1, 274.3, 215.9],'aza':[716.2, 846.3, 797.12, 879.03, 421.25],
        'bdm':[499.2, 321.25, 653.34, 789.83, 303.31]}
data_index1 = pd1.date_range('2020-03-01',periods = 5, freq = 'W')
df1 = pd1.DataFrame(dict1, index = data_index1)
print(df1)

             coca     aza     bdm
2020-03-01  237.3  716.20  499.20
2020-03-08  564.1  846.30  321.25
2020-03-15  315.1  797.12  653.34
2020-03-22  274.3  879.03  789.83
2020-03-29  215.9  421.25  303.31

In [ ]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906780
2017-12-26    40.843605
2017-12-27    40.850780
2017-12-28    40.965725
2017-12-29    40.522736
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [ ]:
df1 = aapl_table
print(df1.Close.tail(7))
print(df1['Volume'].tail(7))

Date
2017-12-20    41.748734
2017-12-21    41.906780
2017-12-22    41.906780
2017-12-26    40.843605
2017-12-27    40.850780
2017-12-28    40.965725
2017-12-29    40.522736
Name: Close, dtype: float64
Date
2017-12-20     93902400
2017-12-21     83799600
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [ ]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852386  22.440248  21.750950  ...  257666000        0.0             0
2016-02-29  22.450753  22.768300  22.402079  ...  140865200        0.0             0
2016-03-31  25.431516  25.473238  25.236815  ...  103553600        0.0             0
2016-04-30  21.785535  21.954739  21.442493  ...  274126000        0.0             0
2016-05-31  23.226409  23.412967  23.044516  ...  169228800        0.0             0
2016-06-30  22.023110  22.333260  21.990462  ...  143345600        0.0             0
2016-07-31  24.296782  24.380733  24.177851  ...  110934800        0.0             0
2016-08-31  24.773056  24.986413  24.768365  ...  118649600        0.0             0
2016-09-30  26.367386  26.580745  26.212643  ...  145516400        0.0             0
2016-10-31  26.646396  26.782384  26.540888  ...  105677600        0.0             0
2016-11-30  26.300092  26.441490  25.986658  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

In [ ]:
aapl1_2017 = df['2017']
aapl_month1 = aapl1_2017.resample('2M').agg(lambda x: x[1])
print(aapl_month1)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2017-01-31  27.301664  27.457203  27.278098  ...   84472400        0.0             0
2017-03-31  30.160267  30.492552  30.113133  ...  134841600        0.0             0
2017-05-31  33.905217  34.293381  33.886282  ...   79565600        0.0             0
2017-07-31  36.500217  36.944645  36.336229  ...  111082800        0.0             0
2017-09-30  37.854900  37.966602  37.113394  ...  279747200        0.0             0
2017-11-30  36.746147  37.003831  36.722290  ...   64921200        0.0             0
2018-01-31  41.300952  41.334475  40.618511  ...  130169600        0.0             0

[7 rows x 7 columns]

In [ ]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248
2016-02-29  22.450753  22.768300  22.402079  22.411350
2016-03-31  25.431516  25.473238  25.236815  25.262312
2016-04-30  21.785535  21.954739  21.442493  21.727589
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023110  22.333260  21.990462  22.293617
2016-07-31  24.296782  24.380733  24.177851  24.301445
2016-08-31  24.773056  24.986413  24.768365  24.876217
2016-09-30  26.367386  26.580745  26.212643  26.505718
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [ ]:
aapl_bar1 = aapl_month1[['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends']]
print(aapl_bar1)

                 Open       High        Low      Close     Volume  Dividends
Date
2017-01-31  27.301664  27.457203  27.278098  27.341726   84472400        0.0
2017-03-31  30.160267  30.492552  30.113133  30.289881  134841600        0.0
2017-05-31  33.905217  34.293381  33.886282  34.264980   79565600        0.0
2017-07-31  36.500217  36.944645  36.336229  36.944645  111082800        0.0
2017-09-30  37.854900  37.966602  37.113394  37.346302  279747200        0.0
2017-11-30  36.746147  37.003831  36.722290  36.858288   64921200        0.0
2018-01-31  41.300952  41.334475  40.618511  40.659218  130169600        0.0

In [ ]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431516  25.473238  25.236815  25.262312
2016-04-30  21.785535  21.954739  21.442493  21.727589
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023110  22.333260  21.990462  22.293617

In [ ]:
print(aapl_month1.loc['2017-01':'2017-06',['Open', 'High', 'Low', 'Close','Volume', 'Dividends']])

                 Open       High        Low      Close     Volume  Dividends
Date
2017-01-31  27.301664  27.457203  27.278098  27.341726   84472400        0.0
2017-03-31  30.160267  30.492552  30.113133  30.289881  134841600        0.0
2017-05-31  33.905217  34.293381  33.886282  34.264980   79565600        0.0

In [ ]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close  rate_return
Date
2016-03-31  25.431516  25.473238  25.236815  25.262312     0.127211
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-02-29  22.450753  22.768300  22.402079  22.411350    -0.001288
2016-03-31  25.431516  25.473238  25.236815  25.262312     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
aapl_bar1['rate_return'] = aapl_bar1.Close.pct_change()
print(aapl_bar1)

                 Open       High        Low  ...     Volume  Dividends  rate_return
Date                                         ...
2017-01-31  27.301664  27.457203  27.278098  ...   84472400        0.0          NaN
2017-03-31  30.160267  30.492552  30.113133  ...  134841600        0.0     0.107826
2017-05-31  33.905217  34.293381  33.886282  ...   79565600        0.0     0.131235
2017-07-31  36.500217  36.944645  36.336229  ...  111082800        0.0     0.078204
2017-09-30  37.854900  37.966602  37.113394  ...  279747200        0.0     0.010872
2017-11-30  36.746147  37.003831  36.722290  ...   64921200        0.0    -0.013067
2018-01-31  41.300952  41.334475  40.618511  ...  130169600        0.0     0.103123

[7 rows x 7 columns]

In [ ]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [ ]:
missing1 = aapl_bar1.isnull()
print(missing1)
print('---------------------------------------------')
print(missing1.describe())

             Open   High    Low  Close  Volume  Dividends  rate_return
Date
2017-01-31  False  False  False  False   False      False         True
2017-03-31  False  False  False  False   False      False        False
2017-05-31  False  False  False  False   False      False        False
2017-07-31  False  False  False  False   False      False        False
2017-09-30  False  False  False  False   False      False        False
2017-11-30  False  False  False  False   False      False        False
2018-01-31  False  False  False  False   False      False        False
---------------------------------------------
         Open   High    Low  Close Volume Dividends rate_return
count       7      7      7      7      7         7           7
unique      1      1      1      1      1         1           2
top     False  False  False  False  False     False       False
freq        7      7      7      7      7         7           6

In [ ]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [ ]:
print(missing1[missing1.rate_return == True])

             Open   High    Low  Close  Volume  Dividends  rate_return
Date
2017-01-31  False  False  False  False   False      False         True

In [ ]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450753  22.768300  22.402079  22.411350    -0.001288
2016-03-31  25.431516  25.473238  25.236815  25.262312     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248     0.000000
2016-02-29  22.450753  22.768300  22.402079  22.411350    -0.001288
2016-03-31  25.431516  25.473238  25.236815  25.262312     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

In [ ]:
drop1 = aapl_bar1.dropna()
print(drop1)
print('\n--------------------------------------------------\n')
fill1 = aapl_bar1.fillna(0)
print(fill1)

                 Open       High        Low  ...     Volume  Dividends  rate_return
Date                                         ...
2017-03-31  30.160267  30.492552  30.113133  ...  134841600        0.0     0.107826
2017-05-31  33.905217  34.293381  33.886282  ...   79565600        0.0     0.131235
2017-07-31  36.500217  36.944645  36.336229  ...  111082800        0.0     0.078204
2017-09-30  37.854900  37.966602  37.113394  ...  279747200        0.0     0.010872
2017-11-30  36.746147  37.003831  36.722290  ...   64921200        0.0    -0.013067
2018-01-31  41.300952  41.334475  40.618511  ...  130169600        0.0     0.103123

[6 rows x 7 columns]

--------------------------------------------------

                 Open       High        Low  ...     Volume  Dividends  rate_return
Date                                         ...
2017-01-31  27.301664  27.457203  27.278098  ...   84472400        0.0     0.000000
2017-03-31  30.160267  30.492552  30.113133  ...  134841600        0.0     0.107826
2017-05-31  33.905217  34.293381  33.886282  ...   79565600        0.0     0.131235
2017-07-31  36.500217  36.944645  36.336229  ...  111082800        0.0     0.078204
2017-09-30  37.854900  37.966602  37.113394  ...  279747200        0.0     0.010872
2017-11-30  36.746147  37.003831  36.722290  ...   64921200        0.0    -0.013067
2018-01-31  41.300952  41.334475  40.618511  ...  130169600        0.0     0.103123

[7 rows x 7 columns]

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [ ]:
s1_1 = pd1.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'lolo')
s2_1 = pd1.Series([149.36, 322.62, 623.2, 278.65, 592.6 ], name = 'ggez')
data_frame1 = pd1.concat([s1_1,s2_1], axis = 1)
print(data_frame1)

     lolo    ggez
0  898.70  149.36
1  911.71  322.62
2  906.69  623.20
3  918.59  278.65
4  926.99  592.60

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104300
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277360
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN   3.110856
2016-02-29  22.450753  22.768300  22.402079  22.411350    -0.001288   3.109568
2016-03-31  25.431516  25.473238  25.236815  25.262312     0.127211   3.229314
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660   3.104300
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063   3.190536
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652   3.213912
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504   3.277360
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334   3.281686
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

In [ ]:
log_price1 = np.log(aapl_bar1.Close)
log_price1.name = 'log_price1'
print(log_price1)
print('\n---------------------- separate line--------------------\n')
concat1 = pd1.concat([aapl_bar1, log_price1], axis = 1)
print(concat1)

Date
2017-01-31    3.308414
2017-03-31    3.410814
2017-05-31    3.534124
2017-07-31    3.609421
2017-09-30    3.620234
2017-11-30    3.607081
2018-01-31    3.705226
Freq: 2M, Name: log_price1, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low  ...  Dividends  rate_return  log_price1
Date                                         ...
2017-01-31  27.301664  27.457203  27.278098  ...        0.0          NaN    3.308414
2017-03-31  30.160267  30.492552  30.113133  ...        0.0     0.107826    3.410814
2017-05-31  33.905217  34.293381  33.886282  ...        0.0     0.131235    3.534124
2017-07-31  36.500217  36.944645  36.336229  ...        0.0     0.078204    3.609421
2017-09-30  37.854900  37.966602  37.113394  ...        0.0     0.010872    3.620234
2017-11-30  36.746147  37.003831  36.722290  ...        0.0    -0.013067    3.607081
2018-01-31  41.300952  41.334475  40.618511  ...        0.0     0.103123    3.705226

[7 rows x 8 columns]

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550677  28.607236  28.425775  28.597809
2017-02-28  32.444870  32.530077  32.354928  32.423569
2017-03-31  34.016470  34.146648  33.848422  34.002270
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [ ]:

df_volume1 = aapl_table.loc['2017-01':'2018-01',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume1)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0
2017-05-31   97804800             0
2017-06-30   92096400             0
2017-07-31   79383600             0
2017-08-31  107140400             0
2017-09-30  105199200             0
2017-10-31  144187200             0
2017-11-30  166108800             0
2017-12-31  103999600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550677  28.607236  28.425775  28.597809
2017-02-28  32.444870  32.530077  32.354928  32.423569
2017-03-31  34.016470  34.146648  33.848422  34.002270
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852386  22.440248  ...          NaN           NaN
2016-02-29  22.450753  22.768300  ...          NaN           NaN
2016-03-31  25.431516  25.473238  ...          NaN           NaN
2016-04-30  21.785535  21.954739  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023110  22.333260  ...          NaN           NaN
2016-07-31  24.296782  24.380733  ...          NaN           NaN
2016-08-31  24.773056  24.986413  ...          NaN           NaN
2016-09-30  26.367386  26.580745  ...          NaN           NaN
2016-10-31  26.646396  26.782384  ...  105677600.0           0.0
2016-11-30  26.300092  26.441490  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [ ]:
concat1 = pd1.concat([aapl_bar1, df_volume], axis = 1)
print(concat1)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-10-31        NaN        NaN  ...  105677600.0           0.0
2016-11-30        NaN        NaN  ...  144649200.0           0.0
2016-12-31        NaN        NaN  ...  122345200.0           0.0
2017-01-31  27.301664  27.457203  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31  30.160267  30.492552  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0
2017-05-31  33.905217  34.293381  ...          NaN           NaN
2017-07-31  36.500217  36.944645  ...          NaN           NaN
2017-09-30  37.854900  37.966602  ...          NaN           NaN
2017-11-30  36.746147  37.003831  ...          NaN           NaN
2018-01-31  41.300952  41.334475  ...          NaN           NaN

[12 rows x 9 columns]

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646396  26.782384  ...  105677600             0
2016-11-30  26.300092  26.441490  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

In [ ]:
concat1 = pd1.concat([aapl_bar1,df_volume],axis = 1, join = 'inner')
print(concat1)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2017-01-31  27.301664  27.457203  ...  196804000             0
2017-03-31  30.160267  30.492552  ...   78646800             0

[2 rows x 9 columns]

In [ ]:

append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-02-29  22.450753  22.768300  22.402079  22.411350    -0.001288
2016-03-31  25.431516  25.473238  25.236815  25.262312     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550677  28.607236  28.425775  28.597809          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN
2017-03-31  34.016470  34.146648  33.848422  34.002270          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [ ]:
append1 = aapl_bar1.append(df_2017)
print(append1)

                 Open       High  ...  Dividends  rate_return
Date                              ...
2017-01-31  27.301664  27.457203  ...        0.0          NaN
2017-03-31  30.160267  30.492552  ...        0.0     0.107826
2017-05-31  33.905217  34.293381  ...        0.0     0.131235
2017-07-31  36.500217  36.944645  ...        0.0     0.078204
2017-09-30  37.854900  37.966602  ...        0.0     0.010872
2017-11-30  36.746147  37.003831  ...        0.0    -0.013067
2018-01-31  41.300952  41.334475  ...        0.0     0.103123
2016-10-31  26.646396  26.782384  ...        NaN          NaN
2016-11-30  26.300092  26.441490  ...        NaN          NaN
2016-12-31  27.490193  27.619807  ...        NaN          NaN
2017-01-31  28.550677  28.607236  ...        NaN          NaN
2017-02-28  32.444870  32.530077  ...        NaN          NaN
2017-03-31  34.016470  34.146648  ...        NaN          NaN
2017-04-30  34.104032  34.153737  ...        NaN          NaN

[14 rows x 7 columns]

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-02-29  22.450753  22.768300  22.402079  22.411350    -0.001288
2016-03-31  25.431516  25.473238  25.236815  25.262312     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550677  28.607236  28.425775  28.597809          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN
2017-03-31  34.016470  34.146648  33.848422  34.002270          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [ ]:
concat1 = pd1.concat([aapl_bar1, df_2017], axis = 0)
print(concat1)

                 Open       High  ...  Dividends  rate_return
Date                              ...
2017-01-31  27.301664  27.457203  ...        0.0          NaN
2017-03-31  30.160267  30.492552  ...        0.0     0.107826
2017-05-31  33.905217  34.293381  ...        0.0     0.131235
2017-07-31  36.500217  36.944645  ...        0.0     0.078204
2017-09-30  37.854900  37.966602  ...        0.0     0.010872
2017-11-30  36.746147  37.003831  ...        0.0    -0.013067
2018-01-31  41.300952  41.334475  ...        0.0     0.103123
2016-10-31  26.646396  26.782384  ...        NaN          NaN
2016-11-30  26.300092  26.441490  ...        NaN          NaN
2016-12-31  27.490193  27.619807  ...        NaN          NaN
2017-01-31  28.550677  28.607236  ...        NaN          NaN
2017-02-28  32.444870  32.530077  ...        NaN          NaN
2017-03-31  34.016470  34.146648  ...        NaN          NaN
2017-04-30  34.104032  34.153737  ...        NaN          NaN

[14 rows x 7 columns]

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN        NaN
2016-02-29  22.450753  22.768300  22.402079  22.411350    -0.001288        NaN
2016-03-31  25.431516  25.473238  25.236815  25.262312     0.127211        NaN
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921        NaN
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773        NaN
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660        NaN
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063        NaN
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652        NaN
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504        NaN
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334        NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782384  26.540888  26.620605          NaN  26.646396
2016-11-30        NaN  26.441490  25.986658  26.045574          NaN  26.300092
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607236  28.425775  28.597809          NaN  28.550677
2017-02-28        NaN  32.530077  32.354928  32.423569          NaN  32.444870
2017-03-31        NaN  34.146648  33.848422  34.002270          NaN  34.016470
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat1 = pd1.concat([aapl_bar1, df_2017], axis = 0)
print(concat1)

                 Open       High        Low  ...  Dividends  rate_return     Change
Date                                         ...
2017-01-31  27.301664  27.457203  27.278098  ...        0.0          NaN        NaN
2017-03-31  30.160267  30.492552  30.113133  ...        0.0     0.107826        NaN
2017-05-31  33.905217  34.293381  33.886282  ...        0.0     0.131235        NaN
2017-07-31  36.500217  36.944645  36.336229  ...        0.0     0.078204        NaN
2017-09-30  37.854900  37.966602  37.113394  ...        0.0     0.010872        NaN
2017-11-30  36.746147  37.003831  36.722290  ...        0.0    -0.013067        NaN
2018-01-31  41.300952  41.334475  40.618511  ...        0.0     0.103123        NaN
2016-10-31        NaN  26.782384  26.540888  ...        NaN          NaN  26.646396
2016-11-30        NaN  26.441490  25.986658  ...        NaN          NaN  26.300092
2016-12-31        NaN  27.619807  27.202683  ...        NaN          NaN  27.490193
2017-01-31        NaN  28.607236  28.425775  ...        NaN          NaN  28.550677
2017-02-28        NaN  32.530077  32.354928  ...        NaN          NaN  32.444870
2017-03-31        NaN  34.146648  33.848422  ...        NaN          NaN  34.016470
2017-04-30        NaN  34.153737  33.909951  ...        NaN          NaN  34.104032

[14 rows x 8 columns]